<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Encrypt Element -> C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_regiis.exe -pef "secretStuff" "C:\Tools" -->
	<!-- Decrypt Element -> C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_regiis.exe -pdf "secretStuff" "C:\Tools" -->
	<!-- See https://msdn.microsoft.com/en-us/library/2w117ede.aspx --> 
	<!-- Example by @subTee -->
	<connectionStrings>
		<add name="constr" connectionString="blah" /> 
	</connectionStrings>
  <system.web>
	<compilation debug="true" targetFramework="4.0" />
  </system.web>
  <secretStuff>
	<!-- Random stuffblahdeblahblah -->
    <element name="RandomShitMaybeBase64encodedThings" />
  </secretStuff>
</configuration>